@import "atropos/css/min" layer(base);
@import "tailwindcss";

@theme {
  --background-image-gradient-main: linear-gradient(
    90deg,
    rgba(1, 22, 23, 1) 0%,
    rgba(2, 39, 41, 1) 50%,
    rgba(1, 22, 23, 1) 100%
  );

  --animate-bounce-more: bounce-more 1s infinite;
  --animate-wiggle: wiggle 1s ease-in-out;
  --animate-wiggle-more: wiggle-more 1s ease-in-out;
  --animate-jump: jump 0.5s ease-in-out;
  --animate-jump-in: jump-in 0.5s ease-in-out;
  --animate-jump-out: jump-out 0.5s ease-in-out;
  --animate-shake: shake 0.5s ease-in-out;
  --animate-fade: fade 2s ease-in-out;
  --animate-fade-down: fade-down 1s ease-in-out;
  --animate-fade-up: fade-up 1s ease-in-out;
  --animate-fade-left: fade-left 1s ease-in-out;
  --animate-fade-right: fade-right 1s ease-in-out;

  @keyframes bounce-more {
    0%,
    100% {
      transform: translateY(-50%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  @keyframes wiggle-more {
    0%,
    100% {
      transform: rotate(-12deg);
    }
    50% {
      transform: rotate(12deg);
    }
  }
  @keyframes jump {
    0%,
    100% {
      transform: scale(100%);
    }
    10% {
      transform: scale(80%);
    }
    50% {
      transform: scale(120%);
    }
  }
  @keyframes jump-in {
    0% {
      transform: scale(0%);
    }
    80% {
      transform: scale(120%);
    }
    100% {
      transform: scale(100%);
    }
  }
  @keyframes jump-out {
    0% {
      transform: scale(100%);
    }
    20% {
      transform: scale(120%);
    }
    100% {
      transform: scale(0%);
    }
  }
  @keyframes shake {
    0% {
      transform: translateX(0rem);
    }
    25% {
      transform: translateX(-1rem);
    }
    75% {
      transform: translateX(1rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(4rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-left {
    0% {
      opacity: 0;
      transform: translateX(2rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-right {
    0% {
      opacity: 0;
      transform: translateX(-2rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #576cbc;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #0891b2;
}

body::-webkit-scrollbar-track {
  background-color: #00404b;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  max-width: 1200px;
  margin: auto;
}

body {
  color: white;
  background: linear-gradient(
    90deg,
    rgba(1, 22, 23, 1) 0%,
    rgba(2, 39, 41, 1) 50%,
    rgba(1, 22, 23, 1) 100%
  );
}

a {
  text-decoration: none;
}
